:root {
  font-family: Merriweather, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --pure-white: #ffffff;
  --primary-color: #005770;
  --secondary-color: #705d00;
  --tertiary-color: #00444E;
  --accent-color: #70004a;
  --heading-color: rgba(0, 0, 0, 0.7);
  --secondary-color-bright: #e1bb00;
  --text-color: #eeeeee;
  --text-color: #222222;
  --background-without-opacity: rgba(243, 210, 210, 0.7);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --header-height: calc(1.1 * 3.5rem);
}

body {
  margin: 0;
  background-color: var(--pure-white);
  color: var(--text-color);
}

body>div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 1.1rem;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: var(--accent-color);
}